/.HA_VERSION
/.uuid
/*.log
/*.db*
/*.conf
/*.env
/secrets.yaml
/known_devices.yaml
/deps/
/*/secrets.yaml
/*.txt
/*.xml
/*.sqlite
/tts/
/jupyter
/*.json
/apps/__pycache__
/*.pid
/*.xml
/*.csr
/*.crt
/*.key
/.tox/
/bin/*.pipwd
/www/kevin.jpg
/www/allegra.jpg
/*.bak
/*.pickle
